@import '../../../assets/styles/mixins';

.form {
  &-group {
    display: flex;
    align-items: center;
  }
  &-control {
    flex: 1;
  }
  &-submit {
    button {
      width: 100%;
    }
  }
  &-hints {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 22px;
  }
}
