@import 'mixins/text';

:host {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 20px;
}

mat-icon {
  width: fit-content;
  height: 100%;
  aspect-ratio: 1/1;
  font-size: 3rem;
}

.user-name {
  @include default-text(500, 18px);
}
