{
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "auto",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "printWidth": 120,
  "arrowParens": "always",
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "ignore"
}
