<header>
  <mat-toolbar>
    <h1 class="app-name">Dating App</h1>
    <span class="spacer"></span>
    <button mat-icon-button class="icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button class="icon burger-menu" aria-label="Burger menu">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</header>