<mat-form-field>
  @if (label) {
  <mat-label>{{ label }}</mat-label>
  }
  <input matInput [type]="computedType" (input)="onInput($event)">
  @switch (type) {
  @case ('text') {
  }
  @case ('password') {
  <button mat-icon-button matSuffix (click)="isPasswordHidden = !isPasswordHidden" [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="isPasswordHidden">
    <mat-icon>{{ isPasswordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  }
  }

  @for (error of errorList; track $index) {
  <mat-error>{{ error }}</mat-error>
  }
</mat-form-field>