@import 'variables/colors';
@import 'mixins/text';
@import 'mixins/animations';
@import 'mixins/components';

.sidenav {
  padding: 16px;
  max-height: 1024px;
  width: 240px;

  &::ng-deep {
    .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      gap: 24px;
    }
  }

  &-container {
    height: 100%;
  }

  &-top {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &-avatar {
    padding: 20px;

    background: $primary;
    border-radius: 16px;
  }

  &-nav {
    &-tabs {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

button {
  @include raised-nav-button();

  &.active {
    background: $hovered-primary;
  }
}
