@import 'mixins/fonts';

@include define-fonts(
  'Plus Jakarta Sans',
  normal,
  'PlusJakartaSans',
  './assets/fonts/PlusJakartaSans'
);

@import './theme/theme.scss';
@import './theme/mat-components.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.main-container {
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.text-regular {
  font-size: 1.125rem;
  font-weight: 400;
}

.text-small {
  font-size: 1rem;
  font-weight: 400;
}

mat-icon {
  &:not([svgIcon]) {
    width: 100%;
    height: fit-content;
  }
}
